<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS-wkC4mViRjYZsbZfaX0ezDYzXj0QpMMbxa6TQfC16W1TsxYBCYw</string>
		<key>name</key>
		<string>狮子</string>
		<key>count</key>
		<string>10000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>http://img05.tooopen.com/images/20150128/sy_79896567561.jpg</string>
		<key>name</key>
		<string>树懒</string>
		<key>count</key>
		<string>50000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTgP2PqyIGWRQhU-MTjuRSANvV6rsdaX7ARTSSAI7mUhESkgIuH</string>
		<key>name</key>
		<string>狮子</string>
		<key>count</key>
		<string>10000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>http://img.zcool.cn/community/03320dd554c75c700000158fce17209.jpg</string>
		<key>name</key>
		<string>小猫</string>
		<key>count</key>
		<string>3000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJzxB9eFWl9uSw_UXrNtP7-hitM0NRjVCQxJs89sOz8HFEfuba</string>
		<key>name</key>
		<string>犀牛</string>
		<key>count</key>
		<string>40000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhi_hvh41L78JlrphNJ867M8Z3W2CBrplMlsAY5tD4fEJOGQMR</string>
		<key>name</key>
		<string>熊猫</string>
		<key>count</key>
		<string>10000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>http://img1.iaweg.com/pic/2NkbnEuZHVpdGFuZy5jb20vdXBsb2Fkcy9pdGVtLzIwMTQxMS8wOS8yMDE0MTEwOTA3MzQyNl9SYUNBVy5qcGVn</string>
		<key>name</key>
		<string>老虎</string>
		<key>count</key>
		<string>10000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQuiZeyLmHJIhOaoqgGJIUm4a4HhSRRjZ09pu4tcmIe3eEvkDN1</string>
		<key>name</key>
		<string>乌龟</string>
		<key>count</key>
		<string>7699</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>http://pic.qiantucdn.com/58pic/13/58/43/65K58PICXNb_1024.jpg</string>
		<key>name</key>
		<string>公鸡</string>
		<key>count</key>
		<string>4000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>http://img06.tooopen.com/images/20160921/tooopen_sy_179583447187.jpg</string>
		<key>name</key>
		<string>小猪</string>
		<key>count</key>
		<string>363636</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3NjLPAbhk0wrHWAnbRyORl0qhtFq4owxacu74eC2F80gtgNCrQ</string>
		<key>name</key>
		<string>马</string>
		<key>count</key>
		<string>132598</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcReoWxWMkGoeafFlPbZxqTssjkCp5lXD4I7e090V6QQHlG6iJqG</string>
		<key>name</key>
		<string>大熊</string>
		<key>count</key>
		<string>4000</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRynRTnfr0kMZqHOdVH6QEkJGQFK5V6kfN1eLgB6L1uUcGjFOPq</string>
		<key>name</key>
		<string>猫头鹰</string>
		<key>count</key>
		<string>807866</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>http://img02.tooopen.com/images/20160406/tooopen_sy_158470111783.jpg</string>
		<key>name</key>
		<string>海豚</string>
		<key>count</key>
		<string>44474</string>
	</dict>
	<dict>
		<key>imgurl</key>
		<string>https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSUBVUp7DcLGabhm0xeVGbRiz-mAepMCo8Q6ZR0kvlZ0j2l4uZ4</string>
		<key>name</key>
		<string>兔子</string>
		<key>count</key>
		<string>4000</string>
	</dict>
</array>
</plist>
